# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Coverage
coverage
*.lcov
.nyc_output

# Caches
.eslintcache
.npm
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# Environment variables
.env
.env.test
.env*.local

# Editors and OS
.idea/
.DS_Store

# Temporary folders
tmp/
temp/
